body{
    margin-right: 10% !important;
    margin-left: 10% !important;
    margin-top: 5% !important;
}

.centrar{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block !important;
}
